* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title_container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
}

.title_card {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.portfolio_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.image_card {
  width: 24rem;
  border-radius: 10%;
}
